Repository ptpeck357/EmoTune: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=25 --no-ignore, prettier --write

adding files for eslint, prettier, husky to git...
  .huskyrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

testing commit
  .husky/commit-msg
  eslint.config.mjs
Due: none

testing commit with husky
  .husky/commit-msg
Due: none

testing conventional commits
  .eslintrc.cjs
  .husky/commit-msg
  eslint.config.mjs
Due: none

testing conventional commits
  .gitignore
  .husky/commit-msg
Due: none

testing conventional commits
  .husky/commit-msg
Due: none

testing bad commit message
  .husky/commit-msg
Due: none

testing conventional commits
  app/routes/_index.tsx
Due: eslint --fix --max-warnings=25 --no-ignore, prettier --write

run prettier on all files
  .prettierrc
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  postcss.config.cjs
  tailwind.config.ts
  vite.config.ts
Due: eslint --fix --max-warnings=25 --no-ignore, prettier --write

testing bad commit message
  test.js
Due: eslint --fix --max-warnings=25 --no-ignore, prettier --write

testing bad commit message
  .husky/commit-msg
  test.js
  test2.js
Due: eslint --fix --max-warnings=25 --no-ignore, prettier --write

Path conditions:
  eslint --fix --max-warnings=25 --no-ignore: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css})
